// .fury-page-layout {

// }

.fury-page-layout-header {
  background: white; // $theme-color-primary;
  color: $theme-color-primary; // $theme-color-primary-contrast;

  fury-breadcrumbs {
    .crumb, .link {
      color: $dark-secondary-text; // $light-secondary-text;

      &:hover {
        color: $dark-primary-text; // $light-primary-text;
      }
    }

    .crumb.current, .crumb.current .link {
      color: $dark-primary-text; // $light-primary-text;
    }
  }
}
