<div class="title"><h1 class="margin-0">{{ current }}</h1></div>
<div class="crumbs" fxLayout="row" fxLayoutAlign="start center">
  <a [routerLink]="['/']" class="crumb home">Inicio</a>
  <div *ngFor="let crumb of crumbs" class="crumb" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="chevron">chevron_right</mat-icon>
    <div class="link">{{ crumb }}</div>
  </div>
  <div class="crumb current" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="chevron">chevron_right</mat-icon>
    <div class="link">{{ current }}</div>
  </div>
</div>