<div fxLayout="row" fxLayoutAlign="space-between stretch">
    <h3>Ruta hacia {{ farmacia ? farmacia.nombre : 'def'}}</h3>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" id="map" (mapReady)="onMapReady($event)">
        <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window #infoWindow>
                <div>
                    {{ usuario ? usuario.nombre : ''}}
                </div>
            </agm-info-window>
        </agm-marker>
        <agm-marker [latitude]="farmacia.latitud" [longitude]="farmacia.longitud">
            <agm-info-window #infoWindow>
                <div>
                    {{ farmacia ? farmacia.nombre : '' }}
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
<div mat-dialog-actions fxLayout="column" fxLayoutAlign="center stretch" style="margin-bottom: 0.5rem;">
    <button mat-raised-button mat-dialog-close color="primary">Aceptar</button>
</div>