.principal_content{
    margin: 40px;
}
  #filters_content, #search_content{
    margin-top: 10px;
    margin-right: 10px;
    height: 630px;
  }
  #filters_content{
    width: 30%;
  }
  #search_content{
    width: 65%;
  }
#title{
    font-weight: 560;
    font-size:2rem;
    color: rgb(31, 168, 161);
}
.subcontents{
    width: 100%;
}
#select-form{
    margin-right: 20px;
    width: 30%;
}

.search-form {
    min-width: 90px;
    max-width: 550px;
    width: 100%;
  }
  
  .search-full-width {
    width: 100%;
  }
  .example-card {
    max-width: 400px;
    margin: 20px;
  }
  
  #direccion-Farm{
    font-style: oblique;
    font-weight: 400px;
  }

 