.principal_content{
    margin: 40px;
}
  #filters_content, #search_content{
    margin-top: 10px;
    height: 630px;
  }
  #filters_content{
    width: 30%;
  }
  #search_content{
    margin-right: 4%;
    margin-left: 5%;
  }
#title{
    font-weight: 560;
    font-size:5vw; //rem
    color: rgb(31, 168, 161);
    text-align: center;
}
.subcontents{
    width: 100%;
}

.search-form {
    min-width: 80px;
    width: 100%;
  }
  
  .search-full-width {
    width: 100%;
  }
  .example-card {
    max-width: 400px;
  }
  
  #direccion-Farm{
    font-style: oblique;
    font-weight: 400px;
  }

 