<div class="principal_content" fxLayout="row"  fxLayoutAlign="space-between center">
  
    <div id="content_1" fxLayout="column" fxLayoutAlign="start stretch" >
      <h2 id="title">
        Mis Locales Farmacia
      </h2>      
      
      <div class="subcontents" fxLayout="column" fxLayoutAlign=" center" >
        <div class="subcontents" fxLayout="row" fxLayoutAlign="space-around center" >
            <form class="search-form">
                <mat-form-field class="search-full-width">
                  <mat-label>Búsqueda</mat-label>
                  <input type="prod" matInput placeholder="Nombre de la Farmacia">
                  <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" style="width: 35%;">Buscar</button>    
        </div>
      </div>       
      
      <div id="content_3" fxLayout="row" fxLayoutAlign="end start">
         <div class="example-button-row">
            <div class="example-flex-container">
                <div class="example-button-container">
                    
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>update</mat-icon>
                    </button>

                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
      </div>

     
      




  <!-- Tabla -->
      <div style=" overflow-y: scroll;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Dirección </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

          <!-- Opennig time Column -->
          <ng-container matColumnDef="openning">
            <th mat-header-cell *matHeaderCellDef> Hora de Apertura </th>
            <td mat-cell *matCellDef="let element"> {{element.openning}} </td>
          </ng-container>
        
          <!-- Closing time Column -->
          <ng-container matColumnDef="closing">
            <th mat-header-cell *matHeaderCellDef> Hora de cierre </th>
            <td mat-cell *matCellDef="let element"> {{element.closing}} </td>
          </ng-container>
                
          <!-- Actions Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>  Acciones  </th>
                <td mat-cell *matCellDef="let row">
                       
                    <div class="example-button-row">
                        <div class="example-flex-container">
                          <div class="example-button-container">
                                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                          </div>
                            <div class="example-button-container">
                                <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
                                  <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
         </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
        </table>
      </div>
      
    

    </div>
</div>
      