<fury-page-layout mode="simple">

    <fury-page-layout-header>
        <fury-breadcrumbs current="Locales"></fury-breadcrumbs>
    </fury-page-layout-header>

    <fury-page-layout-content fxLayout="column" fxLayoutGap="1rem">
        <fury-card>
            <fury-card-header>
                <fury-card-header-heading> Filtro de Búsqueda </fury-card-header-heading>
            </fury-card-header>
            <fury-card-content>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutGap.xs="0"
                    fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between stretch" [formGroup]="formFiltro">
                    <mat-form-field fxFlex="calc(37% - 3rem)">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field fxFlex="calc(37% - 2rem)">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="direccion">
                    </mat-form-field>
                    <button mat-raised-button color="primary" fxFlex="calc(26% - 2rem)"
                        (click)="buscarLocales()" type="submit">Buscar</button>
                </div>
            </fury-card-content>
        </fury-card>
        <fury-card>
            <fury-card-header>
                <fury-card-header-heading> Tus Locales </fury-card-header-heading>
                <fury-card-header-subheading> Lista de tus locales </fury-card-header-subheading>
                <fury-card-header-actions>
                    <button mat-icon-button>
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <button mat-icon-button [routerLink]="['/pharmacy/locales/local']">
                        <mat-icon>add</mat-icon>
                    </button>
                </fury-card-header-actions>
            </fury-card-header>
            <fury-card-content>
                <fury-list name="Locales" [hideHeader]="true">
                    <table mat-table [dataSource]="locales" class="mat-elevation-z2">

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element; let index=index;"> {{index + 1}} </td>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>
                        <!-- Address Column -->
                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef> Dirección </th>
                            <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                        </ng-container>
                        <!-- Opennig time Column -->
                        <ng-container matColumnDef="opening">
                            <th mat-header-cell *matHeaderCellDef> Hora Apertura</th>
                            <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
                        </ng-container>
                        <!-- Closing time Column -->
                        <ng-container matColumnDef="closed">
                            <th mat-header-cell *matHeaderCellDef> Hora Cierre </th>
                            <td mat-cell *matCellDef="let element"> {{element.radio}} </td>
                        </ng-container>

                        <!-- Actions Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let row; let element">
                                <button mat-icon-button color="accent">
                                    <mat-icon [routerLink]="['/pharmacy/locales/local/', element.idFarmacia]">edit
                                    </mat-icon>
                                </button>
                                <button mat-icon-button color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
                    </table>
                    <mat-paginator [length]="totalDatos" [pageSize]="regxpag"></mat-paginator>
                </fury-list>
            </fury-card-content>
        </fury-card>
    </fury-page-layout-content>

</fury-page-layout>