<div class="principal_content">
    <mat-card>
        <!-- id="content_1" -->
        <mat-card-header>
            <mat-card-title>Mis Locales Farmacia</mat-card-title>
        </mat-card-header>
        <!-- <h2 id="title"></h2> -->
        <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
                <!-- class="subcontents" -->
                <!-- <div class="subcontents" fxLayout="row" fxLayoutAlign="space-around center">
          <form class="search-form"> -->
                <mat-form-field appearance="outline" fxFlex="calc(65% - 1rem)">
                    <!-- class="search-full-width" -->
                    <mat-label>Búsqueda</mat-label>
                    <input type="text" matInput placeholder="Nombre de la Farmacia">
                    <!-- <mat-icon matPrefix>search</mat-icon> -->
                </mat-form-field>
                <!-- </form> -->
                <button mat-raised-button color="primary" fxFlex="calc(35% - 1rem)">Buscar</button>
                <!-- </div> -->
            </div>
            <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="0.5rem">
                <!-- id="content_3" -->
                <!-- <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container"> -->
                <button mat-mini-fab color="accent">
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-mini-fab color="primary" [routerLink]="['/pharmacy/locales/local']">
                    <mat-icon>add</mat-icon>
                </button>
                <!-- </div>
          </div>
        </div> -->
            </div>

            <!-- Tabla -->
            <!-- <div> -->
            <!-- style=" overflow-y: scroll;" -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Dirección </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>
                <!-- Opennig time Column -->
                <ng-container matColumnDef="openning">
                    <th mat-header-cell *matHeaderCellDef> Hora de Apertura </th>
                    <td mat-cell *matCellDef="let element"> {{element.openning}} </td>
                </ng-container>
                <!-- Closing time Column -->
                <ng-container matColumnDef="closing">
                    <th mat-header-cell *matHeaderCellDef> Hora de cierre </th>
                    <td mat-cell *matCellDef="let element"> {{element.closing}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let row">

                        <!-- <div class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container"> -->
                        <button mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <!-- </div>
                <div class="example-button-container"> -->
                        <button mat-icon-button color="primary">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <!-- </div>
              </div>
            </div> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
            </table>
            <!-- </div> -->
        </mat-card-content>
    </mat-card>
</div>