.principal_content {
  // margin: 40px;
  padding: 2rem;
}
#content_1 {
  margin-top: 1px;
  margin-right: 1px;
  padding: 1px px;
  width: 1400px;
  height: 630px;
}

#title {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: rgb(31, 168, 161);
}

#content_2 {
  margin-top: 1px;
  margin-right: 40px;
  padding: 5px;
  width: 1200px;
  height: 60px;
}

#content_3 {
  margin-top: 1px;
  padding: 5px;
  width: 1100px;
  height: 90px;
  align-content: center;
  vertical-align: middle;
}
.mat-raised-button {
  width: 280px;
}
.button-row {
  margin: 7px 7px;
}

input {
  align-items: center;
  width: 640px;
  height: 25px;
}
table {
  margin: auto;
  width: 90%;
}

.mat-form-field {
  margin-right: 15px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 50px;
}

.example-button-row .mat-button-base {
  margin: 7px 7px;
}

.example-button-row {
  display: table-cell;
  width: 115px;
}

// td,
// th {
//   width: 16%;
// }
// th {
//   font-weight: bold;
//   text-align: center;
//   font-size: 18px;
// }
// td {
//   font-size: 16px;
// }
.subcontents {
  width: 90%;
}
#select-form {
  width: 100%;
}

.search-form {
  margin-left: 10%;
  margin-right: 5%;
  min-width: 90px;
  max-width: 550px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}
