<fury-page-layout mode="simple">

    <fury-page-layout-header>
        <fury-breadcrumbs *ngIf="isEditar==false" [crumbs]="['Locales']" current="Nuevo local"></fury-breadcrumbs>
        <fury-breadcrumbs *ngIf="isEditar==true" [crumbs]="['Locales']" current="Modificar local"></fury-breadcrumbs>
    </fury-page-layout-header>

    <fury-page-layout-content>
        <form [formGroup]="form" (ngSubmit)=" createOrEdit()">
            <fury-card style="padding-top: 2rem;">
                <fury-card-content>
                    <div fxLayout="row" fxLayoutGap="3rem" fxLayout.sm="column" fxLayoutGap.sm="0" fxLayout.xs="column"
                        fxLayoutGap.xs="0">
                        <div fxFlex="calc(50% - 3rem)" fxLayout="column">
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input type="text" matInput required formControlName="nombre">
                                <mat-error>Debe agregar un nombre</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Dirección</mat-label>
                                <input type="text" matInput required formControlName="direccion">
                                <mat-error>Debe agregar una dirección</mat-error>
                            </mat-form-field>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
                                fxLayoutAlign.xs="space-around stretch">
                                <mat-checkbox formControlName="automaticLocation" (click)="deshabilitarCaja()">
                                    Ubicación automática</mat-checkbox>
                                <mat-form-field fxFlex="50%" fxFlex.xs="auto">
                                    <mat-label>Coordenadas</mat-label>
                                    <input matNativeControl type="text" matInput formControlName="location" readonly>
                                </mat-form-field>
                            </div>
                            <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                                <agm-marker (dragEnd)="markerDragEnd($event)"
                                    [markerDraggable]="!form.controls['automaticLocation'].value" [latitude]="lat"
                                    [longitude]="lng"></agm-marker>
                            </agm-map>
                        </div>
                        <div fxFlex="calc(50% - 3rem)" fxLayout="column" fxFlex.xs="auto">
                            <h4>Horario de Atención</h4>
                            <fury-list name="Horarios" [hideHeader]="true">
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> N° </th>
                                        <td mat-cell *matCellDef="let element; let index=index"> {{index + 1}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Día </th>
                                        <td mat-cell *matCellDef="let element"> {{dias[element.diaSemana]}} </td>
                                    </ng-container>

                                    <!-- Open Columb-->
                                    <ng-container matColumnDef="open">
                                        <th mat-header-cell *matHeaderCellDef> Hora apertura </th>
                                        <td mat-cell *matCellDef="let element; let index = index">
                                            <mat-form-field style="width: 6rem;">
                                                <input matInput type="time"
                                                    [formControl]="formHoraApertura.controls[index]">
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <!-- Closed Column -->
                                    <ng-container matColumnDef="closed">
                                        <th mat-header-cell *matHeaderCellDef> Hora cierre </th>
                                        <td mat-cell *matCellDef="let element; let index = index">
                                            <mat-form-field style="width: 6rem;">
                                                <input matInput type="time"
                                                    [formControl]="formHoraCierre.controls[index]">
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <!-- Checkbox Column -->
                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                </table>
                            </fury-list>
                        </div>
                    </div>
                </fury-card-content>
                <fury-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="warn" type="button" [routerLink]="['/pharmacy/locales']">Cancelar</button>
                    <button mat-raised-button color="primary" type="submit" >Aceptar</button>
                </fury-card-actions>
            </fury-card>
        </form>
    </fury-page-layout-content>

</fury-page-layout>