<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="contenedor">
    <div fxLayout="column" fxFlex.xs="auto" fxFlex.sm="auto" fxFlex="70%" class="content">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start stretch" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxFlex.xs="auto" fxFlex="30%">
                <mat-label>Farmacia</mat-label>
                <mat-select>
                    <mat-option *ngFor="let farmacia of farmacias" [value]="farmacia.id">
                        {{ farmacia.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex.xs="auto" fxFlex="30%">
                <mat-label>Producto</mat-label>
                <input matInput type="text" [(ngModel)]="productoDesc">
                <button mat-button *ngIf="productoDesc" matSuffix mat-icon-button (click)="productoDesc=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button color="primary" fxFlex.xs="auto" fxFlex="30%">Buscar</button>
        </div>
        <mat-grid-list #gridProductos cols="3" rowHeight="1.3:1" gutterSize="1rem">
            <mat-grid-tile *ngFor="let producto of productos">
                <mat-card fxFlex="auto" style="cursor: pointer;" (click)="seleccionarProducto(producto)">
                    <h3 matLine>{{ producto.codigo }} - {{ producto.nombre }}</h3>
                    <p matLine>{{ producto.farmacia }}</p>
                    <h3 matLine>{{ producto.stock }} unidades</h3>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <mat-divider [vertical]="true" fxHide.xs="true" fxHide.sm="true"></mat-divider>
    <mat-divider [vertical]="false" fxHide="true" fxHide.xs="false" fxHide.sm="false"></mat-divider>

    <div fxLayout="column" fxFlex.xs="auto" fxFlex.sm="auto" fxFlex="30%">
        <div fxFlex="cal(100% - 4rem)">
            <cdk-virtual-scroll-viewport itemSize="50" style="height: 30rem;">
                <div *ngFor="let producto of productosSeleccionados; let i = index">
                    <div fxLayout="row">
                        <div fxFlex="3rem" fxLayout="column" fxLayoutAlign="center center">
                            <button mat-icon-button style="width: 24px; height: 24px; line-height: 24px;" (click)="producto.stock = producto.stock + 1;">
                                <mat-icon>arrow_drop_up</mat-icon>
                            </button>
                            <input style="width: 2rem;" [value]="producto.stock">
                            <button mat-icon-button style="width: 24px; height: 24px; line-height: 24px;" (click)="producto.stock = producto.stock - 1;">
                                <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                        </div>
                        <div fxFlex="calc(100% - 5.5rem)" fxLayout="column" class="content">
                            <h3 matLine>{{ producto.codigo }} - {{ producto.nombre }}</h3>
                            <p matLine>{{ producto.farmacia }}</p>
                        </div>
                        <button mat-icon-button (click)="eliminarProductoSeleccionado(producto)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <mat-divider [vertical]="false" *ngIf="i != productosSeleccionados.length"></mat-divider>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <div fxFlex="4rem" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start stretch" fxLayoutAlign="space-between center"
            class="content">
            <button mat-raised-button color="accent" (click)="productosSeleccionados = [];">Limpiar</button>
            <button mat-raised-button color="primary" (click)="abrirAlerta()">Actualizar Stock</button>
        </div>
    </div>
</div>