<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs current="Control de Stock"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content fxLayout="column" fxLayoutGap="1rem">
        <fury-card>
            <fury-card-header>
                <fury-card-header-heading> Filtro de Búsqueda </fury-card-header-heading>
            </fury-card-header>
            <fury-card-content>
                <div fxLayout="column" [formGroup]="formFiltro">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutGap.xs="0">
                        <mat-form-field fxFlex="calc(33% - 1rem)" fxFlex.xs="auto">
                            <mat-label>Farmacia</mat-label>
                            <mat-select formControlName="idFarmacia">
                                <mat-option [value]="farmacia.idFarmacia" *ngFor="let farmacia of farmacias">
                                    {{farmacia.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="calc(33% - 1rem)" fxFlex.xs="auto">
                            <mat-label>Categoría</mat-label>
                            <mat-select formControlName="categoria">
                                <mat-option [value]="categoria.idCategoria" *ngFor="let categoria of categorias">
                                    {{categoria.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="calc(33% - 1rem)" fxFlex.xs="auto">
                            <mat-label>Forma Farmacéutica</mat-label>
                            <mat-select formControlName="presentacion">
                                <mat-option [value]="forma.idFormaFarmaceutica"
                                    *ngFor="let forma of formasFarmaceuticas">
                                    {{forma.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutGap.xs="0"
                        fxLayoutAlign="center center" fxLayoutAlign.xs="space-between stretch">
                        <mat-form-field fxFlex="calc(66% - 1rem)">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>
                        <button mat-raised-button color="primary" fxFlex="calc(33% - 1rem)" fxFlex.xs="auto"
                            (click)="getProductos()" type="submit"
                            [disabled]="formFiltro.get('idFarmacia').value == null">Buscar</button>
                    </div>
                </div>
            </fury-card-content>
        </fury-card>
        <fury-card>
            <fury-card-header>
                <fury-card-header-heading> Tus productos </fury-card-header-heading>
                <fury-card-header-subheading> Tu lista de productos </fury-card-header-subheading>
                <fury-card-header-actions>
                    <button mat-icon-button>
                        <mat-icon matTooltip="Selecciona productos para actualizar su stock"
                            matTooltipPosition="before">info</mat-icon>
                    </button>
                </fury-card-header-actions>
            </fury-card-header>
            <fury-card-content fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="min-height: 40rem;">
                <div fxLayout="column" fxFlex.xs="auto" fxFlex.sm="auto" fxFlex="calc(100% - 27rem)"
                    class="contenedor-items" fxLayoutAlign="space-between stretch">
                    <mat-grid-list #gridProductos cols="2" rowHeight="0" gutterSize="1rem">
                        <mat-grid-tile *ngFor="let producto of productos">
                            <fury-quick-info-widget fxFlex="auto" class="route-animations-elements"
                                [value]="producto.stock + ' uds.'" [label]="producto.nombre"
                                [background]="producto.stock > 10 ? '#43a047' : '#e53935'" color="white" icon=""
                                style="cursor: pointer;" (click)="seleccionarProducto(producto)"
                                matTooltip="{{ producto.stock }} unidades en stock" matTooltipPosition="above">
                            </fury-quick-info-widget>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <div *ngIf="productos.length == 0" fxFlex fxLayout="column" fxLayoutAlign="center center"
                        style="width: 100%;">
                        <img src="/assets/svg/triste.svg" width="100px" height="100px">
                        <span style="padding: 2rem 0 0 0;">No hay productos para mostrar.</span>
                    </div>

                    <mat-paginator *ngIf="productos.length > 0" [length]="totalDatos" [pageSize]="regxpag"
                        (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
                </div>

                <mat-divider [vertical]="true" fxHide.xs="true" fxHide.sm="true"></mat-divider>
                <mat-divider [vertical]="false" fxHide="true" fxHide.xs="false" fxHide.sm="false"></mat-divider>

                <div fxLayout="column" fxFlex.xs="auto" fxFlex.sm="auto" fxFlex="27rem" fxLayoutGap.xs="1rem">
                    <div fxFlex="calc(100% - 4rem)" fxFlex.sm="35rem" fxFlex.xs="35rem" class="contenedor-scroll">
                        <cdk-virtual-scroll-viewport itemSize="50" class="scroll-view">
                            <item-carrito *ngFor="let producto of productosSeleccionados; let i = index"
                                [item]="producto" (onEliminar)="eliminarProductoSeleccionado($event)">
                            </item-carrito>
                        </cdk-virtual-scroll-viewport>
                    </div>
                    <div fxFlex="4rem" fxFlex.xs="auto" fxLayout="row" fxLayout.xs="column"
                        fxLayoutAlign.xs="start stretch" fxLayoutAlign="space-evenly center" fxLayoutGap.xs="1rem">
                        <button mat-raised-button color="warn" (click)="productosSeleccionados = [];">Limpiar</button>
                        <button mat-raised-button color="primary" (click)="actualizarStock()">Actualizar Stock</button>
                    </div>
                </div>
            </fury-card-content>
        </fury-card>
    </fury-page-layout-content>
</fury-page-layout>