<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs current="Control de Stock"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content fxLayout="column" fxLayoutGap="1rem">
        <fury-card>
            <fury-card-header>
                <fury-card-header-heading> Filtro de Búsqueda </fury-card-header-heading>
            </fury-card-header>
            <fury-card-content>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutGap.xs="0"
                    fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between stretch"
                    [formGroup]="formFiltro">
                    <mat-form-field fxFlex.xs="auto" fxFlex="37%">
                        <mat-label>Farmacia</mat-label>
                        <mat-select formControlName="idFarmacia">
                            <mat-option *ngFor="let farmacia of farmacias" [value]="farmacia.idFarmacia">
                                {{ farmacia.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="auto" fxFlex="37%">
                        <mat-label>Nombre de producto</mat-label>
                        <input matInput formControlName="nombre">
                        <button mat-button *ngIf="productoDesc" matSuffix mat-icon-button (click)="productoDesc=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-raised-button color="primary" fxFlex.xs="auto" fxFlex="24%"
                        [disabled]="formFiltro.get('idFarmacia').value == null">Buscar</button>
                </div>
            </fury-card-content>
        </fury-card>
        <fury-card>
            <fury-card-header>
                <fury-card-header-heading> Tus productos </fury-card-header-heading>
                <fury-card-header-subheading> Tu lista de productos </fury-card-header-subheading>
                <fury-card-header-actions>
                    <button mat-icon-button>
                        <mat-icon matTooltip="Selecciona productos para actualizar su stock"
                            matTooltipPosition="before">info</mat-icon>
                    </button>
                </fury-card-header-actions>
            </fury-card-header>
            <fury-card-content fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <div fxLayout="column" fxFlex.xs="auto" fxFlex.sm="auto" fxFlex="70%" class="contenedor-items">
                    <mat-grid-list #gridProductos cols="2" rowHeight="8rem" gutterSize="1rem">
                        <mat-grid-tile *ngFor="let producto of productos">
                            <fury-quick-info-widget fxFlex="auto" class="route-animations-elements"
                                [value]="producto.stock" [label]="producto.nombre"
                                [background]="producto.stock > 10 ? '#43a047' : '#e53935'" color="white" icon=""
                                style="cursor: pointer;" (click)="seleccionarProducto(producto)"
                                matTooltip="{{ producto.stock }} unidades en stock" matTooltipPosition="above">
                            </fury-quick-info-widget>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-paginator [length]="100" [pageSize]="10"></mat-paginator>
                </div>

                <mat-divider [vertical]="true" fxHide.xs="true" fxHide.sm="true"></mat-divider>
                <mat-divider [vertical]="false" fxHide="true" fxHide.xs="false" fxHide.sm="false"></mat-divider>

                <div fxLayout="column" fxFlex.xs="auto" fxFlex.sm="auto" fxFlex="30%" fxLayoutGap.xs="1rem">
                    <div fxFlex="calc(100% - 4rem)" fxFlex.sm="35rem" fxFlex.xs="35rem" class="contenedor-scroll">
                        <cdk-virtual-scroll-viewport itemSize="50" class="scroll-view">
                            <item-carrito *ngFor="let producto of productosSeleccionados; let i = index"
                                [item]="producto" (onEliminar)="eliminarProductoSeleccionado($event)">
                            </item-carrito>
                        </cdk-virtual-scroll-viewport>
                    </div>
                    <div fxFlex="4rem" fxFlex.xs="auto" fxLayout="row" fxLayout.xs="column"
                        fxLayoutAlign.xs="start stretch" fxLayoutAlign="space-evenly center" fxLayoutGap.xs="1rem">
                        <button mat-raised-button color="warn" (click)="productosSeleccionados = [];">Limpiar</button>
                        <button mat-raised-button color="primary">Actualizar Stock</button>
                    </div>
                </div>
            </fury-card-content>
        </fury-card>
    </fury-page-layout-content>
</fury-page-layout>