<div class="container" fxLayout="column">

    <mat-sidenav-container autosize fxFlex>

        <!-- SIDENAV -->
        <mat-sidenav *ngIf="pharmacyUser" mode="side" [opened]="true" class="sidenav bg-primary"
            [ngClass]=" { 'expanded': showSide } " #side>
            <div fxLayout="column">
                <button mat-icon-button class="icon-white" (click)="showSide = !showSide">
                    <mat-icon>{{ showSide ? 'close' : 'menu' }}</mat-icon>
                </button>
                <div fxFlex="7rem"></div>
                <div *ngIf="showSide; else navigationIcons" fxLayout="column" fxLayoutGap="0.5rem">
                    <button mat-raised-button [routerLink]="['/pharmacy']">Home</button>
                    <button mat-raised-button [routerLink]="['/pharmacy/locales']">Mis Locales</button>
                    <button mat-raised-button [routerLink]="['/pharmacy/locales/nuevo']">Agregar Local</button>
                    <button mat-raised-button [routerLink]="['/pharmacy/productos']">Productos</button>
                    <button mat-raised-button [routerLink]="['/pharmacy/control-stock']">Control de Stock</button>
                </div>
                <ng-template #navigationIcons>
                    <div fxLayout="column" fxLayoutGap="0.5rem">
                        <button mat-icon-button class="icon-white" [routerLink]="['/pharmacy']">
                            <mat-icon>home</mat-icon>
                        </button>
                        <button mat-icon-button class="icon-white" [routerLink]="['/pharmacy/locales']">
                            <mat-icon>local_pharmacy</mat-icon>
                        </button>
                        <button mat-icon-button class="icon-white" [routerLink]="['/pharmacy/locales/nuevo']">
                            <mat-icon>add_business</mat-icon>
                        </button>
                        <button mat-icon-button class="icon-white" [routerLink]="['/pharmacy/productos']">
                            <mat-icon>medical_services</mat-icon>
                        </button>
                        <button mat-icon-button class="icon-white" [routerLink]="['/pharmacy/control-stock']">
                            <mat-icon>shopping_basket</mat-icon>
                        </button>
                    </div>
                </ng-template>
            </div>
        </mat-sidenav>
        <!-- END SIDENAV -->

        <mat-sidenav-content class="content-container" fxLayout="column">

            <!-- TOOLBAR -->
            <mat-toolbar fxLayoutAlign="space-between center" class="mat-elevation-z2">
                <p matLine fxHide.xs="true">{{ 'nameApp' | translate }}</p>
                <p fxHide="true" fxHide.xs="false">SBF</p>
                <div>
                    <app-translation></app-translation>
                    <button mat-icon-button>
                        <mat-icon>notifications_active</mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>settings</mat-icon>
                            <span>Configuración</span>
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Salir</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-toolbar>
            <!-- END TOOLBAR -->

            <!-- CONTENT -->
            <div cdkScrollable class="content" fxFlex="auto" fxLayout="column">
                <div class="content-inner" fxFlex="auto">

                    <!-- CONTENT INNER -->
                    <router-outlet></router-outlet>
                    <!-- END CONTENT INNER -->

                </div>
            </div>
            <!-- END CONTENT -->

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>