<div class="page background-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding background-primary" fxLayout="column" fxLayoutAlign="center center">
      <div class="logo fill-primary-contrast">
        <mat-icon svgIcon="logo-sbf" class="logo-sbf"></mat-icon>
      </div>
    </div>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Paciente">
        <form class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="form" (ngSubmit)="login()">
          <div fxFlex="auto" fxLayout="column">
            <mat-form-field fxFlex="grow">
              <mat-label>Usuario</mat-label>
              <input matInput required formControlName="email">
              <mat-error *ngIf="form.get('email').hasError('required')">Ingresa tu número de documento o email
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="grow">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="visible ? 'text' : 'password'" formControlName="password" required>
              <button type="button" mat-icon-button matSuffix (click)="visible = !visible"
                matTooltip="{{ visible ? 'Ocultar contraseña' : 'Ver contraseña' }}">
                <mat-icon>{{visible ? 'visibility' : 'visibility_off'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('password').hasError('required')">Ingresa tu contraseña</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-checkbox class="caption">Recuérdame</mat-checkbox>
            <a class="caption" [routerLink]="['/forgot-password']">Olvidaste tu contraseña?</a>
          </div>
          <button type="submit" color="primary" mat-raised-button>
            INICIAR SESIÓN
          </button>
          <p class="secondary-text text-center">
            ¿No tienes una cuenta?<br />
            <a [routerLink]="['/register']">Click aquí para crear una</a>
          </p>
        </form>
      </mat-tab>

      <mat-tab label="Farmacia">
        <!-- <div class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="form" (ngSubmit)="login()">
          <div fxFlex="auto" fxLayout="column">
            <mat-form-field fxFlex="grow">
              <mat-label>Usuario</mat-label>
              <input matInput required formControlName="email">
              <mat-error *ngIf="form.get('email').hasError('required')">Ingresa tu correo
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="grow">
              <mat-label>Password</mat-label>
              <input matInput [type]="visible ? 'text' : 'password'" formControlName="password" required>
              <button type="button" mat-icon-button matSuffix (click)="visible = !visible"
                matTooltip="{{ visible ? 'Ocultar contraseña' : 'Ver contraseña' }}">
                <mat-icon>{{visible ? 'visibility' : 'visibility_off'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('password').hasError('required')">Ingresa tu contraseña</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-checkbox class="caption">Recuérdame</mat-checkbox>
            <a class="caption" [routerLink]="['/forgot-password']">¿Olvidaste tu contraseña?</a>
          </div>
          <button type="submit" color="primary" mat-raised-button>
            INICIAR SESIÓN
          </button>
          <p class="secondary-text text-center">
            ¿No tienes una cuenta?<br />
            <a [routerLink]="['/register']">Click aquí para crear una</a>
          </p>
        </div> -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>