<fury-page-layout mode="simple">

    <fury-page-layout-header>
        <fury-breadcrumbs current="Productos"></fury-breadcrumbs>
    </fury-page-layout-header>

    <fury-page-layout-content fxLayout="column" fxLayoutGap="1rem">
        <fury-card>
            <fury-card-header>
                <fury-card-header-heading> Filtro de Búsqueda </fury-card-header-heading>
            </fury-card-header>
            <fury-card-content>
                <div fxLayout="column" [formGroup]="formFiltro">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutGap.xs="0">
                        <mat-form-field fxFlex="calc(33% - 1rem)" fxFlex.xs="auto">
                            <mat-label>Farmacia</mat-label>
                            <mat-select formControlName="idFarmacia">
                                <mat-option [value]="farmacia.idFarmacia" *ngFor="let farmacia of farmacias">
                                    {{farmacia.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="calc(33% - 1rem)" fxFlex.xs="auto">
                            <mat-label>Categoría</mat-label>
                            <mat-select formControlName="categoria">
                                <mat-option [value]="categoria.idCategoria" *ngFor="let categoria of categorias">
                                    {{categoria.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="calc(33% - 1rem)" fxFlex.xs="auto">
                            <mat-label>Forma Farmacéutica</mat-label>
                            <mat-select formControlName="presentacion">
                                <mat-option [value]="forma.idFormaFarmaceutica"
                                    *ngFor="let forma of formasFarmaceuticas">
                                    {{forma.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutGap.xs="0"
                        fxLayoutAlign="center center" fxLayoutAlign.xs="space-between stretch">
                        <mat-form-field fxFlex="calc(66% - 1rem)">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>
                        <button mat-raised-button color="primary" fxFlex="calc(33% - 1rem)" fxFlex.xs="auto"
                            (click)="getProductos()" type="submit"
                            [disabled]="formFiltro.get('idFarmacia').value == null">Buscar</button>
                    </div>
                </div>
            </fury-card-content>
        </fury-card>
        <fury-card>
            <fury-card-header>
                <fury-card-header-heading> Tus Productos </fury-card-header-heading>
                <fury-card-header-subheading> Lista de tus productos </fury-card-header-subheading>
                <fury-card-header-actions>
                    <button mat-icon-button>
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <button mat-icon-button (click)="subidaMasiva()">
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <button mat-icon-button (click)="nuevoProducto()">
                        <mat-icon>add</mat-icon>
                    </button>
                </fury-card-header-actions>
            </fury-card-header>
            <fury-card-content>
                <fury-list name="Productos" [hideHeader]="true">
                    <table mat-table [dataSource]="productos" class="mat-elevation-z2" #tablaProductos>

                        <!-- Columna de posicion -->
                        <ng-container matColumnDef="numero">
                            <th mat-header-cell *matHeaderCellDef> N° </th>
                            <td mat-cell *matCellDef="let element; let index=index"> {{index + 1}} </td>
                        </ng-container>
                        <!-- Columna codigo -->
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                        </ng-container>
                        <!-- Columna nombre -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>
                        <!-- Columna precio -->
                        <ng-container matColumnDef="precio">
                            <th mat-header-cell *matHeaderCellDef> Precio </th>
                            <td mat-cell *matCellDef="let element"> {{element.precioUnitario}} </td>
                        </ng-container>
                        <!-- Columna marca -->
                        <ng-container matColumnDef="marca">
                            <th mat-header-cell *matHeaderCellDef> Marca </th>
                            <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
                        </ng-container>

                        <!-- Columna stock -->
                        <ng-container matColumnDef="stock">
                            <th mat-header-cell *matHeaderCellDef> Stock </th>
                            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                        </ng-container>

                        <!-- Columna de acciones -->
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let row, let element">
                                <button mat-icon-button color="accent">
                                    <mat-icon (click)="nuevoProducto(element)">edit</mat-icon>
                                </button>
                                <button *ngIf="element.logEstado == 0; else desactivar" mat-icon-button
                                    matTooltip="Activar producto" (click)="activarDesactivarProducto(element, 1)">
                                    <mat-icon>published_with_changes</mat-icon>
                                </button>
                                <ng-template #desactivar>
                                    <button mat-icon-button color="warn" matTooltip="Desactivar producto"
                                        (click)="activarDesactivarProducto(element, 0)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </ng-template>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
                    </table>
                    <mat-paginator [length]="totalDatos" [pageSize]="regxpag" (page)="onPageChange($event)"
                        showFirstLastButtons></mat-paginator>
                </fury-list>
            </fury-card-content>
        </fury-card>
    </fury-page-layout-content>

</fury-page-layout>