<div class="principal_content">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Mis Productos</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="1rem">
                    <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                        <mat-label>Farmacia</mat-label>
                        <mat-select formControlName="idFarmacia">
                            <mat-option [value]="farmacia.idFarmacia" *ngFor="let farmacia of farmacias">{{farmacia.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                        <mat-label>Categoría</mat-label>
                        <mat-select formControlName="idCategoria">
                            <mat-option [value]="categoria.idCategoria" *ngFor="let categoria of categorias">
                                {{categoria.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                        <mat-label>Forma Farmacéutica</mat-label>
                        <mat-select formControlName="idFormaFarmaceutica">
                            <mat-option [value]="forma.idFormaFarmaceutica" *ngFor="let forma of formasFarmaceuticas">
                                {{forma.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="1rem">
                    <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="descripcion">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                        <mat-label>Marca</mat-label>
                        <input matInput formControlName="marca">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button color="primary" fxFlex="32%">Buscar</button>
                </div>
                
            </div>
            <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="0.5rem">
                <button mat-mini-fab color="accent">
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-mini-fab color="accent" (click)="subidaMasiva()">
                    <mat-icon>cloud_upload</mat-icon>
                </button>
                <button mat-mini-fab color="primary" (click)="nuevoProducto()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

                <!-- Columna de posicion -->
                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef> N° </th>
                    <td mat-cell *matCellDef="let element; let index=index"> {{index}} </td>
                </ng-container>
                <!-- Columna codigo -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                </ng-container>
                <!-- Columna nombre -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
                <!-- Columna precio -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                </ng-container>
                <!-- Columna marca -->
                <ng-container matColumnDef="marca">
                    <th mat-header-cell *matHeaderCellDef> Marca </th>
                    <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
                </ng-container>

                <!-- Columna stock -->
                <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef> Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                </ng-container>

                <!-- Columna de acciones -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="primary">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>