<fury-card [style.background]="background">
    <fury-card-header>
        <fury-card-header-heading>{{ producto ? subStr(producto.nombre, 20) : 'def'}}</fury-card-header-heading>
        <fury-card-header-subheading>{{ producto ? subStr(producto.formaFarmaceutica.descripcion, 22) : 'def' }} x {{ producto ?
            producto.fraccion : 'def' }} unidades
        </fury-card-header-subheading>
    </fury-card-header>
    <fury-card-content fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column">
            <span> {{ farmacia ? subStr(farmacia.nombre, 15) : 'def' }} </span>
            <span> {{ farmacia ? subStr(farmacia.direccion, 15) : 'def'}} </span>
        </div>
        <img src="/assets/svg/categorias/{{icon}}.svg" class="icon">
    </fury-card-content>
    <fury-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <span> {{ farmacia ? farmacia.monedas.descripcion : 'def' }} {{ producto ? producto.precioUnitario : '0' }}</span>
        <div fxLayout="row">
            <button mat-icon-button (click)="onVerDetalles.emit([producto, farmacia])">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="onVerRuta.emit(farmacia)">
                <mat-icon>near_me</mat-icon>
            </button>
        </div>
    </fury-card-actions>
</fury-card>