<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row">
        <mat-icon>get_app</mat-icon>
        <button mat-button color="primary" (click)="downloadTemplateXLSX()">Descargar plantilla</button>
    </div>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div fxLayout="column" [formGroup]="form">
        <mat-form-field fxFlex.xs="auto">
            <mat-label>Farmacia</mat-label>
            <mat-select formControlName="idFarmacia">
                <mat-option [value]="farmacia.idFarmacia" *ngFor="let farmacia of data.farmacias">
                    {{farmacia.nombre}}
                </mat-option>
            </mat-select>
            <mat-error>Seleccione una farmacia</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="auto">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="idCategoria">
                <mat-option [value]="categoria.idCategoria" *ngFor="let categoria of data.categorias">
                    {{categoria.descripcion}}</mat-option>
            </mat-select>
            <mat-error>Seleccione una categoría</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="auto">
            <mat-label>Forma Farmacéutica</mat-label>
            <mat-select formControlName="idFormaFarmaceutica">
                <mat-option [value]="forma.idFormaFarmaceutica" *ngFor="let forma of data.formasFarmaceuticas">
                    {{forma.descripcion}}</mat-option>
            </mat-select>
            <mat-error>Seleccione una opción</mat-error>
        </mat-form-field>
        <input type="file" (change)="subirExcel($event)" placeholder="Subir archivo"
            accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    </div>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" (click)="subirProductosMasivo()">Subir</button>
</div>