<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row">
        <mat-icon>get_app</mat-icon>
        <a>Descargar plantilla</a>
    </div>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div>
        lo que sea
    </div>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button cdkFocusInitial>Subir</button>
</div>