<div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Modo de localización</h3>
    <button mat-icon-button>
        <!-- mat-dialog-close -->
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content fxLayout="column" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="center stretch" fxLayoutGap.xs="1rem">
        <mat-checkbox fxFlex="50%" formControlName="tipo">Ubicación automática</mat-checkbox>
        <mat-form-field fxFlex="40%">
            <mat-label>Coordenadas</mat-label>
            <input matInput formControlName="coords" readonly>
        </mat-form-field>
    </div>
    <!-- class="item" -->
    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
        <agm-marker (dragEnd)="markerDragEnd($event)" [markerDraggable]="!form.get('tipo').value" [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
    <button mat-raised-button color="warn">Cancelar</button>
    <!-- mat-dialog-close -->
    <button mat-raised-button color="primary" (click)="saveLocation()">Aceptar</button>
</div>