/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-size: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    ::-webkit-scrollbar {
        width: 0.8rem;
        height: auto;
        background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.37);
        border-radius: 0.8rem;
    }

    ::-webkit-scrollbar-thumb:active {
        box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.54);
        border-radius: 0.8rem;
    }
}

@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-blue);

.bg-primary {
    background-color: mat-color($primary);
}

.bg-accent {
    background-color: mat-color($accent);
}

.allHeight {
    height: 100%;
}

.mat-line {
    margin: 0 !important;
}
