<div fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3 mat-dialog-title> Detalles de búsqueda </h3>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div fxLayout="column">
        <h4>{{ producto ? producto.nombre : 'def' }}</h4>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column">
                <span>{{ producto ? producto.formaFarmaceutica.descripcion : 'def' }} x {{ producto ? producto.fraccion
                    : '0' }} unidades</span>
                <span>{{ producto ? producto.marca : 'def' }}</span>
            </div>
            <h2>{{ farmacia ? farmacia.monedas.descripcion : 'def' }} {{ producto ? producto.precioUnitario : '0' }}
            </h2>
        </div>
        <h2 style="text-align: center;">Lo encuentras en:</h2>
        <span>{{ farmacia ? farmacia.nombre : 'def' }}</span>
        <span>{{ farmacia ? farmacia.direccion : 'def' }}</span>
    </div>
    <button mat-raised-button mat-dialog-close color="primary">Aceptar</button>
</div>