.subcontents{
    width: 100%;
    
}

#direccion-Farm{
    font-style: oblique;
    font-weight: 400px;
}

.separacion{
    font-weight: bold;
    word-spacing: 10pt;  
}

#nombreFar{
    font-weight: bold;
    text-align: center;
} 
