<fury-page fxLayoutGap="1rem" class="dashboard" fxLayout="column">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1rem">
        <div fxFlex="calc(50% - 1rem)" fxFlex.sm="auto" fxFlex.xs="auto">
            <fury-card>
                <fury-card-header>
                    <fury-card-header-heading> Horario de atención </fury-card-header-heading>
                    <fury-card-header-subheading> Horario de atención de tus farmacias </fury-card-header-subheading>
                    <fury-card-header-actions>
                        <button mat-icon-button (click)="reloadHorario()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </fury-card-header-actions>
                </fury-card-header>
                <fury-card-content>
                    <mat-form-field>
                        <mat-label>Farmacia</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let farmacia of farmacias" [value]="farmacia.idFarmacia">
                                {{farmacia.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <fury-list name="Horarios" [hideHeader]="true">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

                            <!-- Position Column -->
                            <!-- <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container> -->
                            <!-- DAY Column -->
                            <ng-container matColumnDef="day">
                                <th mat-header-cell *matHeaderCellDef> Día </th>
                                <td mat-cell *matCellDef="let element"> {{element.day}} </td>
                            </ng-container>

                            <!-- Opennig time Column -->
                            <ng-container matColumnDef="openning">
                                <th mat-header-cell *matHeaderCellDef> Apertura </th>
                                <td mat-cell *matCellDef="let element"> {{element.openning}} </td>
                            </ng-container>

                            <!-- Closing time Column -->
                            <ng-container matColumnDef="closing">
                                <th mat-header-cell *matHeaderCellDef> Cierre </th>
                                <td mat-cell *matCellDef="let element"> {{element.closing}} </td>
                            </ng-container>

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="selection.toggle(row)">
                            </tr>
                        </table>
                    </fury-list>
                </fury-card-content>
                <fury-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <button mat-button color="primary" type="button">GUARDAR CAMBIOS</button>
                </fury-card-actions>
                <fury-loading-overlay [isLoading]="isLoadingHorario"></fury-loading-overlay>
            </fury-card>
        </div>
        <div fxFlex="calc(50% - 1rem)" fxFlex.sm="auto" fxFlex.xs="auto" fxLayout="column" fxLayoutGap="1rem">
            <!-- <div fxLayout="row" fxLayoutGap="1rem" fxLayout.sm="column" fxLayout.xs="column"> -->
                <div fxLayout="row" fxLayoutGap="1rem" fxLayout.xs="column" fxFlex.xs="auto">
                    <fury-quick-info-widget class="route-animations-elements" value="256" label="Cuadro 1"
                        [background]="'#fb8c00'" color="white" icon="people" fxFlex="calc(50% - 1rem)" fxFlex.xs="auto">
                    </fury-quick-info-widget>
                    <fury-quick-info-widget class="route-animations-elements" value="20" label="Cuadro 2"
                        [background]="'#43a047'" color="white" icon="info" fxFlex="calc(50% - 1rem)" fxFlex.xs="auto">
                    </fury-quick-info-widget>
                </div>
                <div fxLayout="row" fxLayoutGap="1rem" fxLayout.xs="column" fxFlex.xs="auto">
                    <fury-quick-info-widget class="route-animations-elements" value="112" label="Cuadro 3"
                        [background]="'#e53935'" color="white" icon="storefront" fxFlex="calc(50% - 1rem)" fxFlex.xs="auto">
                    </fury-quick-info-widget>
                    <fury-quick-info-widget class="route-animations-elements" value="54" label="Cuadro 4"
                        [background]="'#00acc1'" color="white" icon="local_offer" fxFlex="calc(50% - 1rem)" fxFlex.xs="auto">
                    </fury-quick-info-widget>
                </div>
            <!-- </div> -->
            <fury-card fxFlex>
                <fury-card-header>
                    <fury-card-header-heading> Estado de stock </fury-card-header-heading>
                    <fury-card-header-subheading>Estado de stock de tus farmacias
                    </fury-card-header-subheading>
                    <fury-card-header-actions>
                        <button mat-icon-button (click)="reloadStock()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <button mat-icon-button [matMenuTriggerFor]="menuEstadoStock">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menuEstadoStock="matMenu">
                            <button mat-menu-item [routerLink]="['/pharmacy/control-stock']">Actualizar ahora</button>
                        </mat-menu>
                    </fury-card-header-actions>
                </fury-card-header>
                <fury-card-content>
                    <mat-form-field>
                        <mat-label>Farmacia</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let farmacia of farmacias" [value]="farmacia.idFarmacia">
                                {{farmacia.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div fxLayout="column" fxFlex fxLayoutAlign="center center" fxLayoutGap="1rem">
                        <h4> Desactualizado</h4>
                        <img src="/assets/svg/triste.svg" width="100px" height="100px">
                    </div>
                </fury-card-content>
                <fury-loading-overlay [isLoading]="isLoadingStock"></fury-loading-overlay>
            </fury-card>
        </div>
    </div>
    <fury-card>
        <fury-card-header>
            <fury-card-header-heading> Tus farmacias </fury-card-header-heading>
            <fury-card-header-subheading>Ubicación de tus farmacias
            </fury-card-header-subheading>
            <fury-card-header-actions>
                <button mat-icon-button (click)="reloadMap()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </fury-card-header-actions>
        </fury-card-header>
        <fury-card-content>
            <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                <!-- <agm-marker [latitude]="lat" [longitude]="lng">
                    <agm-info-window #infoWindow>
                        <div>
                            {{ usuario ? usuario.nombre : ''}}
                        </div>
                    </agm-info-window>
                </agm-marker> -->
                <agm-marker *ngFor="let farmacia of farmacias" [latitude]="farmacia.latitud" [longitude]="farmacia.longitud">
                    <agm-info-window #infoWindow>
                        <div>
                            {{farmacia.nombre}}
                        </div>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </fury-card-content>
        <fury-loading-overlay [isLoading]="isLoadingMap"></fury-loading-overlay>
    </fury-card>
</fury-page>

<!-- <div class="principal_content" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1rem">

    <mat-card fxFlex="50%">
        <mat-card-header>
            <mat-card-title>Acceso rápido</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">

            <mat-form-field>
                <mat-label>Mi Farmacia</mat-label>
                <mat-select>
                    <mat-option *ngFor="let farmacia of farmacias" [value]="farmacia.value">
                        {{farmacia.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <h3 id="title">Estado de Stock</h3>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon>sentiment_very_dissatisfied</mat-icon>
                <h4> Desactualizado</h4>
                <a [routerLink]="['/pharmacy/control-stock']">Actualizar ahora</a>
            </div>

            <div div fxLayout="row" fxLayoutAlign="space-between center">
                <h3 id="title">Horario de Atención</h3>
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="50%">
        <mat-card-header>
            <mat-card-title>Notificaciones</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row">
                <mat-form-field color="primary" appearance="outline" fxFlex="50%">
                    <mat-label>Desde</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field color="primary" appearance="outline" fxFlex="50%">
                    <mat-label>Hasta</mat-label>
                    <input matInput [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="notifications-sms" style="overflow-y: scroll;" fxLayout="column" fxLayoutAlign="end end">
                <div fxLayout="row" fxLayoutAlign="end end">
                    <p>Tu local Inkafarma Ejército no ha sido actualizado desde hace dos semanas.
                        <a [routerLink]="['/pharmacy/control-stock']">Actualizar ahora</a>
                    </p>
                    <mat-icon> message</mat-icon>
                </div>
                <div fxLayout="row" fxLayoutAlign="end end">
                    <p>Tu opinión nos importa. <br> Agrega un comentario para ayudarnos a mejorar.
                        <a href="/pharmacy/control-stock">Agregar comentario</a>
                    </p>
                    <mat-icon> message</mat-icon>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div> -->