<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Nuevo producto</h3>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="formProducto" (ngSubmit)="guardarProducto()">
    <mat-dialog-content fxLayout="column">
        <div fxLayout="row" fxLayoutGap="1rem">
            <mat-form-field appearance="outline" fxFlex="calc(50% - 1rem)">
                <mat-label>Farmacia</mat-label>
                <mat-select formControlName="idFarmacia">
                    <mat-option [value]="farmacia.idFarmacia" *ngFor="let farmacia of data.farmacias">{{farmacia.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="calc(50% - 1rem)">
                <mat-label>Código</mat-label>
                <input matInput formControlName="codigo">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="1rem">
            <mat-form-field appearance="outline" fxFlex="calc(50% - 1rem)">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="calc(50% - 1rem)">
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="descripcion">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="1rem">
            <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                <mat-label>Marca</mat-label>
                <input matInput formControlName="marca">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="idCategoria">
                    <mat-option [value]="categoria.idCategoria" *ngFor="let categoria of data.categorias">
                        {{categoria.descripcion}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                <mat-label>Forma Farmacéutica</mat-label>
                <mat-select formControlName="idFormaFarmaceutica">
                    <mat-option [value]="forma.idFormaFarmaceutica" *ngFor="let forma of data.formasFarmaceuticas">
                        {{forma.descripcion}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="1rem">
            <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                <mat-label>Presentación</mat-label>
                <input matInput formControlName="presentacion">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                <mat-label>Concentración</mat-label>
                <input matInput formControlName="concentracion">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                <mat-label>Fecha de vencimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaVencimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="1rem">
            <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                <mat-label>Fracciones</mat-label>
                <input matInput formControlName="fraccion">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                <mat-label>Stock</mat-label>
                <input matInput formControlName="stock">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="calc(33% - 2rem)">
                <mat-label>Precio unitario</mat-label>
                <input matInput formControlName="precioUnitario">
            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="center center">
        <button mat-raised-button type="button" color="warn" mat-dialog-close>Cancelar</button>
        <button mat-raised-button type="submit" color="primary">Crear</button>
    </mat-dialog-actions>
</form>